.same{
    width: 50%;
    margin: 0px auto;
    
}
.goToSignIn{
    width: 50%;
    margin: 0px auto;
}
.alreadyAccount{
    display: none;
    
}
.wrongInfo{
    display: none;
    
}
.suh{
    margin: 15% auto 2% auto;
    
}
.but{
    margin: 1% auto 1% auto;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:rgb(130, 223, 9);
 }
 .grid{
     margin: 2% 0% 0% 0%;
 }
.cardstyling{
    margin: 0% 0% 2% 0%;
} 
.validate{
    max-height: 300px;
    max-width: 300px;
    overflow: scroll;
}
.activeUser{
    display: none;
}
#purchase products{
    display: none;
}
#greetUser{
    display: none;
}
#search{
     
    height: 70%;
}
#searchBtn{
    display: none;
}
.userProfile{
    display: none;
}
.products{
    display: none;
}
.products{
    color: rgb(211, 13, 13);
}
.ratings{
    display: none;
}
.text-messages{
    color: rgb(111, 14, 201);
}
